<%= javascript_pack_tag 'new_product_init' %>
<%= stylesheet_pack_tag 'new_product_init' %>

<header class="page-header"><h2>New Product</h2></header>
<%= link_to "Back to Admin", admin_path%>
<div id="new-product">