<%= javascript_pack_tag 'shop_init' %>
<%= stylesheet_pack_tag 'shop_init' %>

<header class="page-header"><h2>Our Products</h2></header>
<%= link_to "View Cart", cart_path%>
<div id="products"></div>